<div class="container"> 
  <b><%= @tasks.last.title %></b>
  <p><%= @tasks.last.body.capitalize %></p>
  <p> Due date: <%= @tasks.last.due_date %></p>
  <p> Task complete? <%= @tasks.last.complete %></p>
</div>